#root {
  width: 100%;
}

:root {
  --light_font: "Poppins-Light";
  --regular_font: "Poppins-Regular";
  --medium_font: "Poppins-Medium";
  --semibold_font: "Poppins-SemiBold";
  --bold_font: "Poppins-Bold";
  --extralight: "Poppins-ExtraLight";
  --link_color: rgba(68, 221, 255, 1);
  --title_font_size: 64px;
  --block_title_font_size: 36px;
  --subtitle_font_size: 24px;
  --pink: rgba(234, 39, 195, 1);
  --pink_border: 2px solid rgba(234, 39, 195, 1);
  --small_font_size: 16px;
  --button_border_radius: 22px;
  --gap: 64px;
}

body {
  width: 100%;
  background: url("./assets/images/background.webp");

  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  color: var(--gap);
}
html {
  margin: 0 auto;
  overflow-x: hidden;
}

/* rewrite  default props of tag> */
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
input {
  background-color: transparent;
  border: 0;
  color: white;
  outline: none;
}
input::placeholder {
  color: white;
}
h2 {
  margin: 0;
}
h3 {
  margin: 0;
}
a {
  color: white;
  text-decoration: none;
}
p {
  margin: 0;
}
.not_visible {
  display: none;
}
button {
  border: none;
  background-color: transparent;
}
/*< rewrite  default props of tag */
@font-face {
  font-family: "Poppins-Bold";
  src: url("./assets/font/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Poppins-Light";
  src: url("./assets/font/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Poppins-ExtraLight";
  src: url("./assets/font/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("./assets/font/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("./assets/font/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("./assets/font/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
