.container {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.sendMessage {
  position: relative;
  width: 100%;
  min-height: 40px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 10px;
  padding: 10px 0;
}
.messageInput {
  position: relative;
  max-height: 300px;
  overflow-y: scroll;

  color: black;
  align-self: stretch;
  flex-grow: 1;
  font-size: 16px;

  border: none;
  outline: none;
  margin: auto;
}

.messageInput[contentEditable="true"]:empty::before {
  content: attr(placeholder);
  color: lightgray;
}

.emoji_picker {
  background-color: transparent;
  border: none;
}

.picker_container {
  bottom: 80px;
  right: 30px;
  position: absolute;
}
.emoji-picker-react .emoji-group:before {
  background-color: rgb(255, 255, 255);
  color: black;
}
aside.emoji-picker-react .content-wrapper:before {
  content: none;
}
.emoji-picker-react .emoji-scroll-wrapper::-webkit-scrollbar,
.messageInput::-webkit-scrollbar {
  display: none;
}

.emoji-picker-react .emoji-scroll-wrapper,
.messageInput {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.atachFile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.messageInput[contentEditable="true"]:empty ~ .sendBtn {
  display: none;
}

.messageInput[contentEditable="true"]:not(:empty) ~ .sendBtn {
  display: block;
}
