.user {
  box-sizing: content-box;

  background-color: aliceblue;
  border-radius: 10px;
  max-width: 600px;
  padding: 20px 20px;
  align-self: flex-end;
}

.responder {
  box-sizing: content-box;
  background-color: #d7fafa;
  border-radius: 10px;
  padding: 20px 20px;
  max-width: 600px;
  align-self: flex-start;
}

.message_text {
  float: left;
  width: 80%;
  height: fit-content;
  word-wrap: break-word;
}

.time {
  color: lightgrey;

  font-size: 14px;
}
.messageInformation {
  display: flex;
  flex-direction: row;
}
