.messages_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: scroll;
  padding: 0 40px;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.messages_container::-webkit-scrollbar {
  display: none;
}
.scrollDiv {
  pointer-events: none;
}
